<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

 <style>
     body{
  text-align: center;
  background-color: navy;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FFF;
  font-family: 'Lato', sans-serif;  
}

.container{
  margin-top: 50px;
}
 </style>   
</head>
<body>
    <div class = "container">
        <h1>ABOUT</h1>

        <p>멋쟁이 사자처럼 7기 이도윤이 만든 작품입니다.</p>
        <p>여러분이 입력하신 단어를 알차게 세드립니다.</p>
        
        <a href="{% url 'home' %}">HOME</a>
    </div>
</body>
</html>
