<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WORD COUNTER</title>
<style>
    body{
  text-align: center;
  background-color: navy;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FFF;
  font-family: 'Lato', sans-serif;  
}

.container{
  margin-top: 50px;
}
</style>
</head>
<body>
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

 <div class = "container">
    <h1>WORD COUNT</h1>

    <a href="{% url 'about' %}">ABOUT</a>
    <br>
    <br>
    <form action="{% url 'count' %}">
        <textarea cols="40" rows="10" name="fulltext"></textarea>
        <br>
        <br>
        <input type="submit" value="Count!" />
    </form>
</div>

</body>
</html>
